@model IEnumerable<Entsiegeln.Models.Bild>

@{
	ViewData["Title"] = "Fotos";
}
<div class="container">
	<h1>Fotos</h1>
	<h5>@ViewBag.Count Bilder</h5>
	<table class="table">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Image in Azure
				</th>
			</tr>
		</thead>
		<tbody>
			@{var i=0;}
			@foreach (var item in Model)
			{
			i++;
				<tr id="@item.Name">
					<td>
						@(item.Name).jpg
					</td>
					<td>
						<a href="https://entsiegelung.blob.core.windows.net/pictures/@(item.Name).jpeg">
							<img width="100" height="100" src="https://entsiegelung.blob.core.windows.net/pictures/@(item.Name).jpeg?width=100" />
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
@*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | <a asp-action="Details" asp-route-id="@item.Id">Details</a> |	<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
